<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>offer</title>
    <link rel="stylesheet" href="style.css"/>
</head>
<body>

    <div>
        <h1 style="margin-left: 50px;">Trending Offers</h1>
    </div>

    <div class="offer-block">
        <div class="card">
            <img class="img-card" src="bag.jpg" alt=""/>
            <div class="bio">
                <h1>Ease with Extra Baggage !</h1>
                <p>Pre-book excess baggage online.</p>
            </div>
        </div>
    
        <div class="card">
            <img class="img-card" src="off.jpg" alt=""/>
            <div class="bio">
                <h1>Best Deal !!</h1>
                <p>Book your ticket on makemytrip and get 40% off.</p>
            </div>
        </div>
        
        <div class="card">
            <img class="img-card" src="window.jpg" alt=""/>
            <div class="bio">
                <h1>Grab your window Seat Now!</h1>
                <p>Hassle free seat reservation, reserve your seat now.</p>
            </div>
        </div>
    
        <div class="card">
            <img class="img-card" src="meal.jpg" alt=""/>
            <div class="bio">
                <h1>Hungry mid-air ?</h1>
                <p>No Worries, Enjoy delicious meal in skies.</p>
            </div>
        </div>

        <div class="card">
            <img class="img-card" src="room.jpg" alt=""/>
            <div class="bio">
                <h1>Book Now!</h1>
                <p>Best Deals on Hotels across World.</p>
            </div>
        </div>
    </div>
</body>
</html>